<!DOCTYPE html>
<html>
<head>
	<title>Search page</title>
</head>
<body>
	<h2>Search Page</h2>
	<input type="text" name="search" id="search-term">
	<div id="results">
	</div>
	<script type="text/javascript" src="/js/script.js"></script>
</body>
</html>
